<<<<<<< HEAD
div {background-color: white;}
P {font-family: italic;}
h1 {font-family: CentSchbook;}
h2 {font-family: CentSchbook;}
h5 {font-family: italic;}
h6 {font-family: 나눔고딕;}
=======
div {background-color: white;}
P {font-family: italic;}
h1 {font-family: CentSchbook;}
h2 {font-family: CentSchbook;}
h5 {font-family: italic;}
h6 {font-family: 나눔고딕;}
>>>>>>> 6a802cc8fbb29064e40c0f287836c61841e774f5
ul {font-family: 함초롬돋움;}